/*Colors adjustd as stated in https://www.behance.net/gallery/9028077/Google-Visual-Assets-Guidelines-Part-1*/
.blue {
    color: #4285F4
}

.red {
    color: #DB4437
}

.yellow {
    color: #F4B400
}

.green {
    color: #0F9D58
}

body {
    font-family: 'Product Sans', sans-serif;
    font-size: 200%;
}



#display {
    display: flex;
    text-align: left;
    margin: 10px;
}


input[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 90%;
    margin: 10px;
}

input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.line {
    line-height: 110%;
}

span {
    white-space: pre;
}